{% extends "base.html" %}
{% block title %}Signal European Edition{% endblock %}
{% block header %}Signal European Edition{% endblock %}


{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>


<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on("connect", function() {
        socket.emit("initial_connection", {data: "connected"});
    });
</script>


<script>
socket.on("new_message_broadcast", function(dict) {
    const chat = document.createElement("message");
    chat.className = dict.accepted ? "censored_message" : "deleted_message";
    chat.innerHTML = `Original message: ${dict.original} `+(dict.accepted ? `Safe message: ${dict.safe}`:'');
    document.getElementById("chatbox").appendChild(chat);
    document.getElementById("chatbox").appendChild(document.createElement("br"));
});
</script>


<div id="chatbox">
{% for message in messages %}
<message id="{{message[0]}}" {% if message[4] == 0 %}class="deleted_message"{%endif%}{% if message[4] == 1 %}class="censored_message"{%endif%}>Original message: {{message[3]}} {% if message[4] == 1 %}Safe message: {{message[5]}}{%endif%}</message><br>
{% endfor %}
</div>


{% endblock %}